.greeter-component {
    flex: 0 0 100%
}

.greeter-component .messenger {
    height: calc(100% - 66px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.greeter-component .my-account {
    height: calc(100% - 66px);
    position: relative;
    display: none;
    justify-content: center;
    align-items: flex-start
}

.alert-overlay-content.edit-friends .friend-cards-content {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    margin-left: 35px;
    margin-top: 10px;
}

.alert-overlay-content.edit-friends .friend-cards-notification {
    margin-top: 20px;
}

.alert-overlay-content.edit-friends .friend-cards-notification .info-text {
    font-weight: bold;
}