.greeter-component {
    flex: 0 0 100%
}

.greeter-component .messenger {
    height: calc(100% - 66px);
    position: relative;
    display: flex;
    justify-content: center;
}

.greeter-component .my-account {
    height: calc(100% - 66px);
    position: relative;
    display: none;
    justify-content: center;
}

.alert-overlay-content.edit-friends {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    margin-left: 35px;
}