.message-list .right {
    float: right;
}

.message-list ul.chat {
    list-style-type: none;
}

.message-list .chat-head {
    vertical-align: top;
    display: inline-block;
}

.message-list .chat-body {
    margin: 0 10px;
    display: inline-block;
    width: 90%;
}

.message-list .chat-content {
    padding: 10px;
}

.message-list .chat-content .message-content {
    padding: 0 5px;
}

.message-list .chat-body .header {
    margin-left: 5px;
    overflow: hidden;
}

.message-list .chat-img {
    height: 50px;
    width: 50px;
}

.message-list .chat-img .user-avatar {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 20px;
}
